<form action="<%= new_cat_url%>" method="post">
<label for= "name"> Name
<input id="name" type="text" name="cat[name]" value=""<%= cat.name%>/>
</label>
<label for= "color"> Color
</label>

<label for= "sex"> Sex
</label>
<label for= "birth_date"> Birth Date
</label>
<label for= "description"> Description
</label>
</form>